<ion-header>>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title><h1 style="font-size: 13px;">Queue Reservation Application for Krua Pa Lai</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card-header style="text-align: center;">
    <h3>แอปพลิเคชันจองคิวอาหารร้านครัวป้าลัย</h3>
    <h6>Queue Reservation Application for Krua Pa Lai</h6>
  </ion-card-header>

  <div>
    <ion-card class="ion-card">
    <ion-button expand="block" color="green-500" shape="round" class="ion-button" size="large" (click)="gotoqeue()">
      <h3>จองคิวอาหาร</h3>
    </ion-button>

    <ion-button expand="block" color="brown-500" shape="round" class="ion-button" size="large" (click)="gotohistoey()">
      <h3 class="text">ประวัติจองคิว</h3>
    </ion-button>

    <ion-button expand="block" color="dark-500" shape="round" class="ion-button" size="large" (click)="gotohiprofile()">
      <h3 class="text">บัญชีผู้ใช้</h3>
    </ion-button>
    </ion-card>
  </div>
</ion-content>
