<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title><h1 style="font-size: 13px;">Queue Reservation Application for Krua Pa Lai</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="brown2-1000">

  <!-- Card 1 -->
  <ion-card *ngFor="let item of bookings; let i = index" color="white-500">
    <ion-card-content>
      <p>{{ item.code }}</p>
      <p>สถานะ: {{ item.status }}</p>
      <p>{{ item.date }}</p>
      <p>TIME: {{ item.time }}</p>
      <p>{{ item.details }}</p>
      <ion-button color="danger" expand="block" (click)="onCancelBooking(i)">
        ยกเลิกการจอง
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
