<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title><h1 style="font-size: 13px;">Queue Reservation Application for Krua Pa Lai</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="brown2-1000">

  <!-- Card 1 -->
  <ion-card color="white-500">
    <ion-card-header>
      <ion-card-title>A001</ion-card-title>
      <ion-card-subtitle>สถานะ: เสร็จสิ้น</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      08/12/2567<br/>
      TIME : 9.59<br/>
      รายละเอียดอาหาร
    </ion-card-content>

    <ion-footer>
      <ion-button color="danger" expand="block">ยกเลิกการจอง</ion-button>
    </ion-footer>
  </ion-card>

  <!-- Card 2 -->
  <ion-card color="white-500">
    <ion-card-header>
      <ion-card-title>A002</ion-card-title>
      <ion-card-subtitle>สถานะ: เสร็จสิ้น</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      08/12/2567<br/>
      TIME : 10.00<br/>
      รายละเอียดอาหาร
    </ion-card-content>

    <ion-footer>
      <ion-button color="danger" expand="block">ยกเลิกการจอง</ion-button>
    </ion-footer>
  </ion-card>

  <!-- Card 3 -->
  <ion-card color="white-500">
    <ion-card-header>
      <ion-card-title>A003</ion-card-title>
      <ion-card-subtitle>สถานะ: เสร็จสิ้น</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      08/12/2567<br/>
      TIME : 10.01<br/>
      รายละเอียดอาหาร
    </ion-card-content>

    <ion-footer>
      <ion-button color="danger" expand="block">ยกเลิกการจอง</ion-button>
    </ion-footer>
  </ion-card>

</ion-content>
